.clearfix:after { 
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  content: ".";
}

body {
  font-size: 14px;
}
.contents {
  margin: 15px 0;
  padding: 0;
}
.explanation {
  width: 500px;
  padding: 5px;
  background: WhiteSmoke;
  border-radius: 7px;
}
.explanation > p {
  margin: 5px;
}

ul.input-group, ul.opt-head, ul.opt-body {
  margin: 0;
  padding: 5px;
}
ul.input-group > li, ul.opt-head > li, ul.opt-body > li {
  list-style-type: none;
  float: left;
}

ul.input-group > li.input-title {
  font-weight: bold;
  margin-right: 10px;
}
ul.input-group > li.input-title:after {
  content: ":";
}

#f_github_url {
  width: 300px;
}

ul.opt-head > li, ul.opt-body > li {
  padding: 0 15px 0 0;
}
ul.opt-head > li {
  font-weight: bold;
}
ul.opt-body > li > input[type="text"] {
  width: 100%;
}
ul.opt-body > li > label {
  margin-right: 5px;
}

/* Title Rule */
ul.opt-head > li:nth-child(1), ul.opt-body > li:nth-child(1) {
  width: 180px;
}
/* Base User */
ul.opt-head > li:nth-child(2), ul.opt-body > li:nth-child(2) {
  width: 100px;
}
/* Base Repository */
ul.opt-head > li:nth-child(3), ul.opt-body > li:nth-child(3) {
  width: 120px;
}
/* Base Branch */
ul.opt-head > li:nth-child(4), ul.opt-body > li:nth-child(4) {
  width: 100px;
}
/* Head User */
ul.opt-head > li:nth-child(5), ul.opt-body > li:nth-child(5) {
  width: 100px;
}
/* Head Repository */
ul.opt-head > li:nth-child(6), ul.opt-body > li:nth-child(6) {
  width: 120px;
}
/* Head Branch */
ul.opt-head > li:nth-child(7), ul.opt-body > li:nth-child(7) {
  width: 100px;
}
/* Merge */
ul.opt-head > li:nth-child(8), ul.opt-body > li:nth-child(8) {
  width: 130px;
}
/* Control */
ul.opt-head > li:nth-child(9), ul.opt-body > li:nth-child(9) {
  width: 100px;
}

#b_reset{
  margin-left: 10px;
}
